.sidenav {
    background-color: #3f51b5;
    width:  200px;
  }
  
  .sidenav a {
    color: white;
  }
  
  .sidenav i {
    padding-right: 10px;
  }
  
  .content {
    padding: 16px;
    background-color: white;
    
  }
  
  button {
    align-items: center;
  }

  .config {
    display: flexbox;
    position: relative;
    top: 16px;
    left: 220px;
    width: 82%;
  }