.header {
    display: flex;
    align-items: center;
  }
  
  .space  {
    padding-left: 5px;
    color: white;
    outline: 0;
    text-decoration: none;  
  }
  
  .title-group {
    padding-left: 125px;
    
  }
  
  .title-group a {
    color: white;
    text-decoration: none;
  
  }