table {
    width: 100%;
  }

.delete {

}

.edit {
  margin-right: 30px;

}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  font-style: italic;
  display: flex;
 
}

v-middle {
  padding-top: 10px;
}